{% include "views/default/header.html" %}

<div class="container">
    <div class="row">
        <div class="col-xs-1 col-md-6">
            <div class="card">
                <div class="card-body" style="background-color:darkgray; color:black">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Sala {{ sala.Numero}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if sala.Disponible %}
                                    <p class="text-success">Entradas disponibles</p>
                                    {% else %}
                                    <p class="text-danger">Entradas agotadas</p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Pelicula:</h5>
                                    <h5>{{ sala.PeliculaId }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Horario:</h5>
                                    <h5>{{ sala.Horario }}</h5>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <table style="color: whitesmoke;">
            <tbody>
                <tr>
                    <th>
                        Sipnosis
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>{{ sala.PeliculaId.Sipnosis }}</p>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>
                        Duración
                    </th>
                </tr>
                <tr>
                    <td>
                        <!-- <p>{{ categoria.Nombre }}</p> -->
                        <p>{{ sala.PeliculaId.Duracion }} minutos</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        Año de estreno
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>{{ sala.PeliculaId.Anio}}</p>
                    </td>
                </tr>
            </tbody>
        </table>


        <a href="javascript: history.go(-1)" class="move moveLeft">Sala {{ sala.Numero}}</a>

    </div>

    {% include "views/default/footer.html" %}